<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <%- include ('partials/nav') %>
    <h1>Welcome to the most awesome website on the net</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, culpa. Atque, obcaecati?</p>
</body>
</html>